button
[{"id":"5f3f0ace.e03a44","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b34c975.3a09868","type":"rpi-gpio in","z":"5f3f0ace.e03a44","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":280,"wires":[["4e297f6.b0a828"]]},{"id":"4e297f6.b0a828","type":"function","z":"5f3f0ace.e03a44","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["d72bbe14.4d608"]]},{"id":"fb09e798.14ece8","type":"function","z":"5f3f0ace.e03a44","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["9a3ac515.70d628","d72bbe14.4d608"]]},{"id":"d72bbe14.4d608","type":"debug","z":"5f3f0ace.e03a44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":360,"wires":[]},{"id":"6e7a6ea8.9629b","type":"http in","z":"5f3f0ace.e03a44","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":80,"y":180,"wires":[["fb09e798.14ece8"]]},{"id":"9a3ac515.70d628","type":"http response","z":"5f3f0ace.e03a44","name":"","statusCode":"","headers":{},"x":430,"y":100,"wires":[]}]

