giop5
[{"id":"9143387f.853b88","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a9e11b8c.ee3b18","type":"http in","z":"9143387f.853b88","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["bce1a111.6a57d","74650e5e.ca6f4"]]},{"id":"bce1a111.6a57d","type":"function","z":"9143387f.853b88","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["246d5b15.9bef64"]]},{"id":"246d5b15.9bef64","type":"rpi-gpio out","z":"9143387f.853b88","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":420,"y":260,"wires":[]},{"id":"74650e5e.ca6f4","type":"function","z":"9143387f.853b88","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":20,"wires":[["c6bbe8e4.daa9e8","e56098e1.6b3f98"]]},{"id":"c6bbe8e4.daa9e8","type":"http response","z":"9143387f.853b88","name":"","statusCode":"","headers":{},"x":690,"y":140,"wires":[]},{"id":"e56098e1.6b3f98","type":"debug","z":"9143387f.853b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"9b7f87e9.6bdab8","type":"http in","z":"9143387f.853b88","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":340,"wires":[["3a6c9083.c951","f428746b.b53e78"]]},{"id":"3a6c9083.c951","type":"function","z":"9143387f.853b88","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["246d5b15.9bef64"]]},{"id":"f428746b.b53e78","type":"function","z":"9143387f.853b88","name":"Return Status","func":"msg.payload=\"GPIO5 set to Low\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":400,"wires":[["e56098e1.6b3f98","c6bbe8e4.daa9e8"]]}]

