open close
[{"id":"edbb7d7a.e8ba2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e72d065.79bdff8","type":"rpi-gpio in","z":"edbb7d7a.e8ba2","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":140,"y":100,"wires":[["5172027c.2f780c","a555f33c.2abff"]]},{"id":"a555f33c.2abff","type":"debug","z":"edbb7d7a.e8ba2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":80,"wires":[]},{"id":"5172027c.2f780c","type":"switch","z":"edbb7d7a.e8ba2","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":200,"wires":[["eb0b47ac.f8ba18"],["59b82556.a90dcc"]]},{"id":"eb0b47ac.f8ba18","type":"change","z":"edbb7d7a.e8ba2","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["d7e3e5a9.b4a988"]]},{"id":"59b82556.a90dcc","type":"change","z":"edbb7d7a.e8ba2","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["d7e3e5a9.b4a988"]]},{"id":"d7e3e5a9.b4a988","type":"rpi-gpio out","z":"edbb7d7a.e8ba2","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":910,"y":220,"wires":[]}]

