TH
[{"id":"e5476708.a4dc48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e3e7683d.a07568","type":"inject","z":"e5476708.a4dc48","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["4cc50868.fe58c8"]]},{"id":"4cc50868.fe58c8","type":"function","z":"e5476708.a4dc48","name":"Payioad","func":"msg.headers={\n    deviceKey: \"o0I2fTd7c9eLRy0O\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["d2c7783a.3ca8e8","a1e6a8e7.2b0a18"]]},{"id":"d2c7783a.3ca8e8","type":"http request","z":"e5476708.a4dc48","name":"Temperature","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DB1TNo8P/datachannels/Temperature/datapoints.csv","tls":"","x":550,"y":80,"wires":[["b2772420.3ec0a8","deca728a.7a5a4"]]},{"id":"b2772420.3ec0a8","type":"http response","z":"e5476708.a4dc48","name":"","statusCode":"","headers":{},"x":790,"y":140,"wires":[]},{"id":"a1e6a8e7.2b0a18","type":"http request","z":"e5476708.a4dc48","name":"Humidity","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DB1TNo8P/datachannels/ Humidity/datapoints.csv","tls":"","x":540,"y":220,"wires":[["b2772420.3ec0a8","deca728a.7a5a4"]]},{"id":"deca728a.7a5a4","type":"debug","z":"e5476708.a4dc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":240,"wires":[]}]
